<html><body>
<h2>FAIR Tests on this server</h2>


<% @tests.each do |t| %>
<% testname = t.to_s[0..-4] %>
    <form action="./tests/<%= testname %>" method = "post">
    <input type = "text" name="subject"/>
    <a href="./tests/<%= t.to_s[0..-4] %>"><%= t.to_s[0..-4] %></a><br/>
    <input type="submit" value="Test it"></form><br/><br/>
<% end %>

</body></html>
