<html><body>
<h2>FAIR Tests on this server</h2>


<% @tests.each do |t| %>
<% testname = t.to_s[0..-4] %>
    <form action="./tests/<%= testname %>" method = "post">
    <input type = "text" name="subject"/>
    <%= t.to_s[0..-4] %> <a href="./tests/<%= t.to_s[0..-4] %>">Interface</a>&nbsp;&nbsp;<a href="./tests/<%= t.to_s[0..-4]%>/about">DCAT Metadata</a><br/>
    <input type="submit" value="Test it"></form><br/><br/>
<% end %>

</body></html>
