<html><body>
<h2>FAIR Tests on this server</h2>


<% @tests.each do |t| %>
<% testname = t.to_s[0..-4] %>
    <form action="/assess/test/<%= testname %>" method = "post">
    <input type = "text" name="resource_identifier"/>
    <%= testname %> 
    <a href="/tests/<%= testname %>/api">
        Interface</a>&nbsp;&nbsp;<a href="/tests/<%= testname %>">DCAT Metadata</a><br/>
    <input type="submit" value="Test it"></form><br/><br/>
<% end %>

</body></html>
