<div class="container">
  <div class="form-card">
<pre>
<%= @result %>
Test DCAT submitted.  It may take some time for the test to appear in the registry.  If registration fails it never will!  (we will eventually provide more useful output here.... sorry!)
</pre>
  </div>
</div>