<div class="container">
  <div class="form-card">

    <form action="/tests/new" method="post">
      <div class="form-group mb-3">
        <label for="test_uri" class="block text-sm font-medium mb-1">Test DCAT URL</label><br/>
        <input type="text" id="test_uri" name="test_uri" class="form-control w-full" required>
      </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Register Test</button>
      </div>
    </form>
  </div>
</div>